{% extends "bases.html" %}

{% block content%} 

<br><br>

<body>
    <div style="text-align: center;color: #726659;"><h2 class="section-title with-line">Si vous souhaitez nous contacter, veuillez completer ce formulaire</h2></div>
    <form id="form" class="topBefore">
		
        <input class="form-form" id="name" type="text" placeholder="NAME">
        <input class="form-form"id="email" type="text" placeholder="E-MAIL">
        <textarea class="textarea-form" id="message" type="text" placeholder="MESSAGE"></textarea>
        <input class="form-form" id="submit" type="submit" value="Envoyer">

</form>


</body>

{% endblock%} 
