{% extends "bases.html" %}

{% block content%} 

<!-- GRAPH -->

<!--SPACE BETWEEN TOP NAV AND GRAPH-->
  <br><br>  


<!--Graph 1 -->
<div class="graph">
	<div style="background-color: grey;">
		<div class="race">
			<br><div style="text-align: center; border: 1px solid black; padding: 5px;">
		
			<br><h3>La distribution des races:</h3><br>
				<label class="race">Holstein &nbsp<input type="checkbox" id="holstein"><span class="marker"></span></label>&nbsp &nbsp &nbsp
				<label class="race">Jersey &nbsp<input type="checkbox" id="Jersey"><span class="marker"></span></label> &nbsp &nbsp &nbsp
				<label class="race">Blanc Bleu Belge &nbsp<input type="checkbox" id="holstein"><span class="marker"></span></label> &nbsp &nbsp &nbsp
			</div>
		</div>
		<br><br>
		<canvas id="myChart" width="400px" height="100px"></canvas>
			<script>


			const ctx = document.getElementById('myChart').getContext('2d');
			const myChart = new Chart(ctx, {
				type: 'radar',
				data: {
					labels: ['Holstein', 'Jersey', 'Bleu Blanc Belge',],
					datasets: [{
						label: 'Distribution des races',
						data: [20, 40, 60, 80, 100, 120, 140,],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)'
						],
						borderColor: [
							'rgb(255, 255, 255)',
						],
						Color: [
							'rgb(255,255,255)',
						],

						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			</script>
		</div>
	</div> 

	<br><br>

<!--Graph 2-->
<div class="graph">
	<div style="background-color: grey;">
		<div class="date">
			<br><div style="text-align: center; border: 1px groove black; padding: 5px;">
				<br><h3>Les animaux nés en période de pleine lune et ceux en nés en dehors</h3><br>
				<label for="start"><b>Début :</b></label>
				<input type="date" id="start" name= "trip-start" value="2018-07-22" min="1990-10-03" max="2020-12-19"><br><br>

				<label for="start"><b>Fin :</b></label>
				<input type="date" id="stop" name= "trip-stop" value="2018-07-22" min="1990-10-03" max="2020-12-19"><br><br>
			</div>
		</div>
		<canvas id="myChart2" width="400px" height="100px"></canvas>
			<script>
			const ctx2 = document.getElementById('myChart2').getContext('2d');
			const myChart2 = new Chart(ctx2, {
				type: 'bar',
				data: {
					labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'aout', 'septembre', 'octobre', 'novembre', 'decembre'],
					datasets: [{
						label: 'Distribution des races',
						data: [20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
						],
						borderColor: [
							'rgb(255, 255, 255)'
						],
						Color: [
							'rgb(255,255,255)',
						],

						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			</script>
		</div>
	</div> 

<br><br>

<!--Graph 3-->
<div class="graph">
	<div style="background-color: grey;">
		<div class="date">
			<br><div style="border: 1px groove #4f4f4f; padding: 5px;">
				<br><h3 style="text-align: center; color: #4f4f4f; font-size: 26px;">Le nombre de vêlages par jour sur une période</h3><br><br><br><br>
				<div style="margin-left: 550px;">
					<div class="button-graph">
						<label for="start"><b>Début :</b></label>
						<input style="  background: #4f4f4f; color: #fff;" type="date" id="start_graph3" name= "trip-start" value="2018-07-22" min="1990-10-03" max="2020-12-19">
					</div>
				</div>					
					<br><br>

				<div style="margin-left: 780px; margin-top: -71px;">
					<div class="button-graph">
						<label for="start"><b>Fin :</b></label>
						<input style="  background: #4f4f4f; color: #fff;" type="date" id="stop_graph3" name= "trip-stop" value="2018-07-22" min="1990-10-03" max="2020-12-19">
					</div>
				</div>

					<br><br>
			
				<div style="margin-left: 650px;  ">
					<button class="button-graph" onclick="data_naissances()">Chargement du graphique</button><br><br><br><br>
				</div>				
			</div>
		</div>
		<canvas id="myChart3" width="400px" height="100px"></canvas>
			<script>
			const ctx3 = document.getElementById('myChart3').getContext('2d');
			const myChart3 = new Chart(ctx3, {
				type: 'bar',
				data: {
					labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'aout', 'septembre', 'octobre', 'novembre', 'decembre'],
					datasets: [{
						label: 'Distribution des races',
						data: [20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
						],
						borderColor: [
							'rgb(255, 255, 255)'
						],
						Color: [
							'rgb(255,255,255)',
						],

						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			</script>
		</div>
	</div> 

<br><br>

<script>

//recup les valeurs
const lst_fam = '{{data.lst_fam |tojson}}';
const date_naissances = '{{data.date_naissances |tojson}}';
const naissances_jour = '{{data.naissances_jour}}';

// suppresion des brolles de la console
var liste_naissances = naissances_jour.replaceAll("&#39;",'').replaceAll("(",'').replaceAll(")",'').replaceAll(",",'').replaceAll("{",'').replaceAll("}",'').replaceAll(":",'').split(" ")
var dict_naissances = {}
for (let i = 0; i < liste_naissances.length; i = i+2){
	dict_naissances[liste_naissances[i]] = liste_naissances[i+1];
}

function data_naissances() {
	console.log(dict_naissances)
	var start = document.getElementById("start_graph3").value;
	var stop =document.getElementById("stop_graph3").value;
	//console.log(start)
	//console.log(stop)

	//  liste à faire avec les dates de start et de fin
	var getDaysArray = function(s,e) {for(var a=[],d=new Date(s);d<=new Date(e);d.setDate(d.getDate()+1)){ a.push(new Date(d));}return a;};
	var date_liste = getDaysArray(new Date(start), new Date (stop));
	//console.log(date_liste)

	// comparer chaque date de la liste et regarder si elle appartient à la liste
	var allday = [];
	var nais = [];
	for (let i = 0; i < date_liste.length;i++){

		// transformation des dates en format dictionnaire
		var month = date_liste[i].getUTCMonth() + 1; 
		var day = date_liste[i].getUTCDate();
		var year = date_liste[i].getUTCFullYear();
		datuum = day + "/" + month + "/" + year;
		
		// Checking date in the dictionnaire
		if (datuum in dict_naissances){
			nais.push(dict_naissances[datuum])
			allday.push(datuum)

		}else{
			nais.push(0)
			allday.push(datuum)
		}
		
	}
	// mise à jour des valeurs du graphique (horizontale)
	myChart3.data.labels = allday;
	myChart3.data.datasets[0].data = nais;
	myChart3.update();
}


//console.log(lst_fam);
//console.log(date_naissances);
// 	

</script>
<!--SPACE BETWEEN TOP NAV AND GRAPH-->
<br><br>  
{% endblock%}    

	

