
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/*Basic style for the whole site  */
*{
  margin: 0;
  padding: 0;
}

h1{
  color: #D3D3D3;
}

#header{
  width:100%;
  float:left;
  background-color: #1A1515;
}

.logo{
  width:100%;
  float:left;
  margin-bottom:25px;
  background-color: #1A1515;

}

.logo h1{ 
  text-align:center; 
  margin-bottom:5px;
  
}

.logo h1 a{
  color:#333;
  text-decoration:none;
}

.desc{
  text-align:center;
}

.outer-center {
  float: right;
  right: 50%;
  position: relative;
  background-color: #1A1515;

}

.inner-center {
  float: right;
  right: -50%;
  position: relative;
  background-color: #1A1515;

}

.logo img{
  margin-top:15px;
  margin-bottom:15px;
  border:none;
  background-color: #1A1515;
}

.main-menu {
  position: relative;
  background-color: #1A1515;

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1A1515;

}

/* The navigation bar */
.navbar {
  margin-left:auto;
  text-align: center;
  width: 100%;
  overflow: auto;
  flex: auto  ;
  background-color: #1A1515;
}
  
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  margin-left: 20px;
  color: grey;
  text-decoration: none;
  font-size: 17px;
  background-color: #1A1515;

}
  
.navbar a:hover {
  background-color: #4f4f4f;
}

  .active {
    background-color: #D3D3D3;
}

.navbar-around {
  font-weight: 700;
  background: #777777;
  padding: 1px 0;
  font-size: 2px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* About */

.container-left {
  margin-top: 5px;
  width: 50%;
  height: auto;
  padding-left: 10px;
  margin: 0;
}

.container-right {
  margin-top: 5px;
  width: 50%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.container img{
  width: 100%;
  height: auto;
  margin: 20px;
}

/* Graph */

.box {
  width: auto;
  height: auto;
  display: flex;
  margin: auto;
  
}

.box-graph-left {
    width: 50%;
    height: auto;
    padding-left: 10px;
    margin: 0;

}
.box-graph-right {
  width: 50%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;

}

/* Footer */
#footer {
  padding-bottom: 1px;
}
.footer1 { 
  padding: 15px 0;
  color: #fff;
  font-size: 12px;
  background-color: #1A1515;
 
}

.footer1 a {
  color: #fff;
  background-color: #1A1515;

}


.footer1 p {
  margin: 0;
  background-color: #1A1515;

}

.grey {
  font-weight: 700;
  background: #777777;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #fff;
}


.widget-simplenav {
  margin-left:-5px;
  background-color: #1A1515;
}		

.widget-simplenav a{
  margin: 5px;
  background-color: #1A1515;

}		


.page-main-container {
  margin-bottom: 45px;
  box-sizing: inherit;
  display: block;
}

.about-gallery-text {
  padding-bottom: 75px;
}

section{
 display: block;
}

.container-main{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.row-precis {
  position: relative;
  width: 100%;
  min-height: 1px;

}

.row-left {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.about-img-gallery {
  padding-right: 40px;
}

.row-right {    
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  box-sizing: inherit;
  display: block;
}

.row-left-2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-right-2 {    
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.row-image {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.about-text {
  padding-left: 40px;
  color: #fff;
}

.history-about {
  margin-bottom: 62px;
  color: #fff;
}

about-gallery-text {
  padding-bottom: 75px;
}

.about-img-gallery {
  padding-right: 40px;
}
.about-img-gallery img {
  margin-bottom: 20px;
}

.about-text h3 {
  margin-bottom: 32px;
  font-weight: 600;
}

.marker {
  position: absolute;
  top:0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}

.boxe {
  background: #CCCCCC;
  height: 200px;
  width: 200px;
  position: relative;
}

.boxe-surround {
  background: #FFFF00;
width: 70px;
height: 70px;
position: absolute;
top: 50%;
left: 50%;
margin: -35px 0 0 -35px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

#about-us {
  padding-top: 100px;
}
#about-us .section-title {
  margin-bottom: 40px;
  position: relative;
}
#about-us h6 {
  margin-bottom: 30px;
}
#about-us .about-description {
  margin-bottom: 32px;
  font-size: 18px;
}
#about-us #about-counters {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
}
#about-us #about-counters .counter {
  padding: 5px 15px;
  border-right: 1px solid #ffe7cc;
}
#about-us #about-counters .counter:last-of-type {
  border-right: none;
}
#about-us #about-counters .counter:first-of-type {
  padding-left: 0px;
}
#about-us #about-counters .counter-nuber {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}
#about-us #about-counters .counter-title {
  font-size: .75rem;
  color: #6675a1;
  font-weight: 700;
  margin-bottom: 0;
}

/*Images about.html */

/*Image  troischenes1 */

.float-right-1 {
  float: right!important;
  margin-top: -260px;
  margin-right: 65px;
  height: 288px;
  width: 376px;
}

/* Image troischenes2 */

.float-right-2 {
  float: right!important;
  margin-top: -560px;
  margin-right: 65px;
  height: 288px;
  width: 376px;
}

/* Image troischenes3 */

.float-right-3 {
  float: right!important;
  margin-top: -250px;
  margin-right: 65px;
  height: 288px;
  width: 376px;
}